body {
    background: url("https://wallpaperaccess.com/full/1708047.jpg") no-repeat;
    background-size: cover;
}

h1 {
    color: deeppink;
}

h2 {
    color: hotpink;
}

ol {
    background: lightpink;
    padding: 10px;
    width: 500px;
    list-style: none;
}
ol li {
    background: white;
    padding: 10px;
    margin: 8px;
    display: flex;
    justify-content: space-between;
}
ol li div {
    display: flex;
    justify-content: space-between;
}

#input-area {
    border: 5px solid red;
}

.duedate {
    margin: 0 7px;
    color: deeppink;
}

.priority {
    margin: 0 7px;
    color: deeppink;
}

.removeBtn {
    margin: 0 7px;
    color: deeppink;
}

label {
    color: deeppink;
    font-size: 20px;
}